{% extends 'base.html' %} {% block content %}

<h1 style="text-align: center; color:white">{% block title %} ABOUT URL SHORTENER {% endblock %}</h1>
<br>
    <div style="text-align: center; color:white">
        <p>Step 1: Enter or Paste Link in URL Tab</p>
        <p>Step 2: Click on Shorten URL button to Shorten URL</p>
        <p>Step 3: Shortened URL appears below button</p>
        <p>Step 4: Click on shortened Link which takes you to Original URL</p>
    </div>

<div class="demo" style="display: flex; justify-content: center">
  <video controls loop width="550" height="400" autoplay muted>

    <source src={{ url_for('static', filename="demo.mp4") }} type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>

{% endblock %}
