{% extends 'base.html' %}

{% block content %}

    <h1 style="color:White; text-align: center">{% block title %} TURNTABL URL SHORTENER PROJECT{% endblock %}</h1>
    <form method="post">
    <div class="form-group"> 
        <br>
        <label for="url" style="color:White; text-align: center"><h4 >URL</h4></label>
        <input type="text" name="url"
               placeholder="Enter or paste URL to shorten" class="form-control"
               value="{{ request.form['url'] }}" autofocus style="width: 700px;"/>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Shorten URL</button>
    </div>
    </form>

    {% if short_url %}
    <hr>
<h6><span>Shortened URL: <a href="{{ short_url }}" style="text-decoration: none" target="_blank"/>{{ short_url }}</span></h6>
    {% endif %}
{% endblock %}